
<!--modal pop-up window-->

<div id="mapModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Map View</h4>
        </div>
        <div class="modal-body">
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2368.8850451727626!2d-6.121131984487106!3d53.577668180028205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486718a11c6b364f%3A0xd46a960cd14c3d61!2s26%20The%20Brambles%2C%20Townparks%2C%20Skerries%2C%20Co.%20Dublin%2C%20K34%20D265!5e0!3m2!1sen!2sie!4v1588508258778!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>