<div class="col-sm-6">
  <img src="images/dog.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> Please to Fit Paw!</p>
  <p> The world leading canine fitness app. </p>
  <p> You can <a href="/memberprofile">register here! </a> Soon your mutt will be flying.</p>
</div>
