<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Fit Paw Pet App</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	
	<!--
	<link rel="stylesheet" href="/css/bootstrap.css">
	-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/fitpaw_app.css">

</head>

<body>
	<!--
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Fit Paw</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/petprofile">
				<span class="button">Pet Profile</span>
			</a>
			<a href="/memberprofile">
				<span class="button">Register</span>
			</a>
			<a href="/contact">
				<span class="button">Contact</span>
			</a>
		</div>
	</div>
-->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
	  <div class="navbar-header">
		<a class="navbar-brand" href="#">Fit Paw</a>
	  </div>
	  <ul class="nav navbar-nav">
		<li class="active"><a href="/">Home</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
        <li><a href="/memberprofile"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		<li><a href="/master"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
	</div>
  </nav>


	<div class="container">
		<%- body %> <!-- from docs - the use of the '-' following the opening tag this has a special meaning for EJS layout -->
		<!-- the word 'body' is a specal keyword used by the Express framework - it indicates where  
			to fill views -->
	</div>

</body>

</html>
