<div class="col-sm-6">
  <img src="images/graph.png" alt="">
</div>
<div class="col-sm-6">
  <h1>Register</h1>
  <p>Please enter the following details and submit:</p>
  <form class="profile-form" action="/memberprofile" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" name="submit">
  </form>
</div>
