<div class="list-container">
     <div class="subscriber">
      <p>
        <span class="item-label">Pet Name:</span>
        <%= petprofile_variable.petName %>
      </p>
      <p>
        <span class="item-label">Pet Age:</span>
        <%= petprofile_variable.petAge %>
      </p>
      <p>
        <span class="item-label">Pet Weight (kg):</span>
        <%= petprofile_variable.petWeight %>
      </p>
    </div>
  </div>