<div class="list-container">
    <% petprofile_variable.forEach(p => { %>
    <div class="subscriber">
      <p>
        <span class="item-label">Name:</span>
        <%=  %>
      </p>
      <p>
        <span class="item-label">Email:</span>
        <%= s.email %>
      </p>
    </div>
    <% }); %>
  </div>