@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#nav {
  width: 100%;
  height: 110px;
  padding: 20px 0 5px 0;
  border-bottom: solid 8px #697acb;
  box-shadow: 10px 10px 10px #ccc;
  position: absolute;
  top: 0;
}

#title {
  color: #625a56;
  margin: 0;
  font-family: "Baloo Bhaina";
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
}

.nav-align {
  text-align: center;
  padding: 3px 0;
}

.container {
  padding: 0% 10%;
}

.button {
  background-color: #3d41b4;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

.button:hover {
  background-color: #697acb;
}

.petprofile {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.petprofile p {
  margin: 0;
}

.list-container {
  padding: 0 20px;
  border: 3px solid #697acb;
  border-radius: 1px;
}

.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
}

.profile-form input {
  display: block;
  margin: 5px;
}

/*
Perform Bootstrap media query
-----------------------------
For devices with a max width of 48em (small devices), 
reduce font size as follows
*/
@media (max-width: 48em) {
  table .btn {
      font-size: 0.75rem; /* fallback if browser does not support vw units*/
      font-size: 3.5vw; /* dynamically change font size. 1vw ==== 1% of total viewport */
  }
}
/*  Colour remove glyph red */
.glyphicon-remove {
  color: #E04C4C;
}

span {
  text-align: center;
}

table#nutrientsTable tr td{
  padding-top: 2px;
  padding-bottom: 2px; 
}

/* food basket to do
.flex-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(156, 184, 197);
}
.header {
  background-color: red;
}

.main {
  background-color: green;
  flex: 1;
}
*/