<div class="col-sm-6">
  <img src="../../images/food.jpg"  alt="">
</div>

<div class="col-sm-6">
    <div class="data-form">
        <form class="form-signin" action="/food/create" method="POST">
        <h2 class="form-signin-heading">Add a Meal to Pet's Food Diary</h2>
        
        <label for="inputFoodName">Food Name</label>
        <input type="text" name="foodName" id="inputFoodName" class="form-control" placeholder="Food Name" autofocus requried>
        
        <label for="inputFoodQuantity">Food Quantity</label>
        <input type="text" name="foodQuantity" id="inputFoodQuantity" class="form-control" placeholder="Food Quantity" required>
        <label for="inputFoodDate">Set Diary Date</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control" name="foodDate" id="inputFoodDate"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });

            $('#datetimepicker').on('dp.change', function(e){ 
                var strDate = (e.date).toISOString().substring(0,10); //get year yyyy-mm-dd
                document.getElementById("foodDiaryDate").value =strDate; //set date
            })
        </script>
        <label for="listFoodUnits">Food Units</label>
        <select class="form-control" id="listFoodUnits" name="foodUnits" required>
            <option>Oz.</option>
            <option>Slice</option>
            <option>Packet</option>
            <option>Tin</option>
            <option>Scoop</option>
            <option>Piece</option>
            <option>Cup</option>
        </select>
      
        <input type="hidden" id="memberObjectId" name="memberObjectId" value="<%=`${currentUser._id}`%>">
        <input type="hidden" id="foodDiaryDate" name="diaryDate" value="">

        <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        </form>
    </div>
  </div>

