<div class="col-sm-6">
  <img src="../../images/food.jpg"  alt="">
</div>

<div class="col-sm-6">
    
    <div class="data-form">
        <!--autocomplete MUSt be off for custom autocomplete to work-->
        <form class="form-signin" action="/food/create" method="POST" autocomplete="off">
        <h2 class="form-signin-heading">Add a Meal to your Pet's Food Diary</h2>
        
     
        <div class="row">
            <div class="col-xs-6 previous">
                <label for="inputFoodQuantity">Quantity</label>
                <input type="text" name="foodQuantity" id="inputFoodQuantity" class="form-control" placeholder="Food Quantity" required>            
            </div>
            <div class="col-xs-6 next">
                <label for="listFoodUnits">Food Units</label>
                <select class="form-control" id="listFoodUnits" name="foodUnits" required>
                </select>
            </div>
        </div>

        <div class="autocomplete" style="width:300px;">
            <label for="inputFoodNameAuto">Food Name</label>
            <input type="text" name="foodNameAuto" id="inputFoodNameAuto" class="form-control" placeholder="Food Name"  requried>
        </div>
       
       
           

         <label for="inputFoodDate">Set Diary Date</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control" name="foodDate" id="inputFoodDate"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });

            $('#datetimepicker').on('dp.change', function(e){ 
                var strDate = (e.date).toISOString().substring(0,10); //get year yyyy-mm-dd
                document.getElementById("foodDiaryDate").value =strDate; //set date
            })
        </script>
        
      
        <input type="hidden" id="memberObjectId" name="memberObjectId" value="<%=`${currentUser._id}`%>">
        <input type="hidden" id="foodDiaryDate" name="diaryDate" value="">

        <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        </form>
    </div>
  </div>
 
  <script>

    //code for autocomplete behaviour (based on list of countries example from W3C Schools))
    autocomplete(document.getElementById("inputFoodNameAuto"));

  
    function getFoods(foodName){
        const stringEndpoint = "/api/food/lookup/"+foodName;

        console.log("in getFoods - before API call");

        var displayData = [];

        //to do test what element is calling 
         $.ajax({
            url: stringEndpoint,
            type: 'GET',
            async:false, //This absolutely needs to be a sync call or the autocomplete solution does not work. 
            success: function(results){
            
                console.log("in getFoods - after API call ..dumping results ..");
               
                console.log(results.data.foodNames);
                let data = results.data;
                if (!data || !data.foodNames){     
                    console.log("bailing out");           
                    return;
                }

                displayData = data.foodNames; 
                return data.foodNames; //technically dont need
            } //function()
        });

   //     console.log(displayData);
        const foodNamesObj = JSON.parse(displayData); //Convert JSON back to an object as didn't work otherwise
        var filteredFoods = [];

        console.log(foodNamesObj.common[0]);

        var foodDetails = new Object();

        //Extract common food names only from nested array of foods details 
        foodNamesObj.common.forEach(food =>{
            
            console.log(food.food_name);
            foodDetails.foodName = capital_letter(food.food_name); 
            foodDetails.foodUnits = food.serving_unit;
            foodDetails.foodQuantity = food.serving_qty;

            filteredFoods.push(foodDetails);

            foodDetails = {};
        }); 
        
        return filteredFoods;
    } //getFoods

    //https://www.w3resource.com/javascript-exercises/javascript-basic-exercise-50.php#:~:text=ES6%20Version%3A&text=toUpperCase()%20%2B%20str%5Bi%5D.,word%20of%20a%20given%20string.
    function capital_letter(str) 
    {
        str = str.split(" ");

        for (var i = 0, x = str.length; i < x; i++) {
            str[i] = str[i][0].toUpperCase() + str[i].substr(1);
        }
        return str.join(" ");
}
    </script> 
