<div class="col-md-5">
  <img src="../../images/food.jpg" class="img-responsive hidden-xs" alt="">
</div>

<div class="col-md-7">
    <div class="row">
        <!--autocomplete MUSt be off for custom autocomplete to work-->
        <form class="data-form" id="idFoodAdd" autocomplete="off">
           <!-- <h2 class="form-signin-heading">Pet Diet Log</h2>-->
           <h2 class="h2">Pet Diet Log</h2>
            <div class="col-xs-6">
                <label for="inputFoodName">Food Name</label>
                <input type="text" name="foodName" id="inputFoodName" class="form-control" placeholder="Food Name"  autofocus requried>
            </div>

            <div class="col-xs-3">
                <label for="inputFoodQuantity">Quantity</label>
                <input type="text" name="foodQuantity" id="inputFoodQuantity" class="form-control" placeholder="Food Quantity" required>            
            </div>
            <div class="col-xs-3">
                <label for="listFoodUnits">Units</label>
                <select class="form-control" id="listFoodUnits" name="foodUnits" required>
                </select>
            </div>
            
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker').datetimepicker({showTodayButton: true});
                });

                $('#datetimepicker').on('dp.change', function(e){ 
                    var strDate = (e.date).toISOString().substring(0,10); //get year yyyy-mm-dd
                    document.getElementById("foodDiaryDate").value =strDate; //set date
                })
            </script>
            
            <input type="hidden" id="memberObjectId" name="memberObjectId" value="<%=`${currentUser._id}`%>">
            <input type="hidden" id="foodDiaryDate" name="diaryDate" value="">

            <br/><button class="btn btn-md btn-primary btn-block" type="submit">Add</button>
        </form>
    </div>
    <!--here-->

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-striped ">
            <thead>
                <tr>
                  <th class="info">
                    <h5 class="text-center">Food</h5>
                  </th>
                  <th class="info">
                    <h5 class="text-center">Unit</h5>
                  </th>
                  <th class="info">
                    <h5 class="text-center">Qty</h5>
                  </th>
                  <th class="info">
                    <h5 class="text-center">Remove</h5>
                  </th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>Chocolate</td>
                <td>2</td>
                <td>Bars</td>
                <td>
                    <a href="#">
                    <span class="glyphicon glyphicon-remove"></span>    
                    </a>
                </td>
              </tr>
              <tr>
                <td class="col-md-12 col-xs-offset-1 col-xs-11">            
                    <a href="#" class="btn btn-info btn-block">  
                        <span class="glyphicon glyphicon-ok" class="color"></span> Log to Diary
                    </a>
                </td>
                </tr>
                <tr>
                    <td class="col-md-12 col-xs-offset-1 col-xs-11"> 
                        <a href="#" class="btn btn-outline-danger btn-block">
                            <span class="glyphicon glyphicon-remove"></span> Delete Food Basket   
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                <!--     <div class="form-group"> -->
                            <div class='input-group date' id='datetimepicker'>
                                <input type='text' class="form-control" name="foodDate" id="inputFoodDate"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div> 
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    <!--end here--> 
  </div>
 
  <script>

    //code for autocomplete behaviour (based on list of countries example from W3C Schools))
    autocomplete(document.getElementById("inputFoodName"));

  
    function getFoods(foodName){
        const stringEndpoint = "/api/food/lookup/"+foodName;

        console.log("in getFoods - before API call");

        var displayData = [];

        //to do test what element is calling 
         $.ajax({
            url: stringEndpoint,
            type: 'GET',
            async:false, //This absolutely needs to be a sync call or the autocomplete solution does not work. 
            success: function(results){
            
                console.log("in getFoods - after API call ..dumping results ..");
               
                console.log(results.data.foodNames);
                let data = results.data;
                if (!data || !data.foodNames){     
                    console.log("bailing out");           
                    return;
                }

                displayData = data.foodNames; 
                return data.foodNames; //technically dont need
            } //function()
        });

   //     console.log(displayData);
        const foodNamesObj = JSON.parse(displayData); //Convert JSON back to an object as didn't work otherwise
        var filteredFoods = [];

        console.log(foodNamesObj.common[0]);

        var foodDetails = new Object();

        //Extract common food names only from nested array of foods details 
        foodNamesObj.common.forEach(food =>{
            
            console.log(food.food_name);
            foodDetails.foodName = capital_letter(food.food_name); 
            foodDetails.foodUnits = food.serving_unit;
            foodDetails.foodQuantity = food.serving_qty;

            filteredFoods.push(foodDetails);

            foodDetails = {};
        }); 
        
        return filteredFoods;
    } //getFoods

    //https://www.w3resource.com/javascript-exercises/javascript-basic-exercise-50.php#:~:text=ES6%20Version%3A&text=toUpperCase()%20%2B%20str%5Bi%5D.,word%20of%20a%20given%20string.
    function capital_letter(str) 
    {
        str = str.split(" ");

        for (var i = 0, x = str.length; i < x; i++) {
            str[i] = str[i][0].toUpperCase() + str[i].substr(1);
        }
        return str.join(" ");

    }

    // Disable normal form submit up to the node server. This will allow the food not to be added to the diary in mongo
    // but instead added to a food basket and display it to the user, allowing the user to add/remove foods for the pets meal
    // based on code from: https://developer.mozilla.org/en-US/docs/Learn/Forms/Sending_forms_through_JavaScript
    //
    // When form is first loaded, disable normal behaviour and add in a special listener that will call getFoodNutrients
    window.addEventListener( 'load', function () {
        const form = document.getElementById( "idFoodAdd" );

        form.addEventListener( 'submit', function ( event ) {
                    event.preventDefault(); //stop the form from doing its normal post to server
                  //  getFoodNutrients();
                  //add to a local table with delete option

                }
        );
    })

    // Lookup the nutrients for the select food from the autocomplete list. first, a REST call to the node server
    // which is then forwarded to the Nutritionix API service. So,two calls are made in sequence
    function getFoodNutrients(){

        //lookup the food from the input box, code done for this before in autocomplete
        const foodNameNutrient = document.getElementById('inputFoodName').value;

        const stringEndpoint = "/api/food_nutrients/lookup/"+foodNameNutrient;

        console.log("in getFoodNutrients - before API call");

        var displayData = [];

         $.ajax({
            url: stringEndpoint,
            type: 'GET',
            async:true, 
            success: function(results){
            
                console.log("in getFoodNutrient - after API call ..dumping results ..");
               
                console.log(results.data.foodNameNutrients);
                let data = results.data;
                if (!data || !data.foodNameNutrients){     
                    console.log("bailing out");           
                    return;
                }

                displayData = data.foodNameNutrients; 
                return data.foodNameNutrients; //technically dont need
               
            } //function()
        });

        const foodNameNutrientObj = JSON.parse(displayData); 

        console.log(foodNameNutrientObj);
      /*  var filteredFoods = [];

        console.log(foodNamesObj.common[0]);

        var foodDetails = new Object();

        //Extract common food names only from nested array of foods details 
        foodNamesObj.common.forEach(food =>{
            
            console.log(food.food_name);
            foodDetails.foodName = capital_letter(food.food_name); 
            foodDetails.foodUnits = food.serving_unit;
            foodDetails.foodQuantity = food.serving_qty;

            filteredFoods.push(foodDetails);

            foodDetails = {};
            
        });*/
    }
</script> 
