<%- contentFor('diaryDay') %>
<table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody id="diary_entries">
      <tr class="entry">
          <td><b>Breakfast</b></td>
          <td></td>
          <td></td>
          <td><b>300</b></td>
      </tr>
      
    </tbody>
  </table>